---
title: Nicky. Oliver
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p16.1.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Nicky Oliver</b></h4> 
    <p>Biokineticist</p>
    <p><b>Bio:</b> Once an avid sportswoman (paddling, hockey, running) now helping others move well. Growing up on a farm had little to do with struggling to cut her favourite albums down from 40!</p> </a>
  <a href="https://www.movewell.co.za/" target="_blank"><i class="fas fa-desktop"></i></a><a href="https://web.facebook.com/movewellmidlands" target="_blank"><i class="fab fa-facebook"></i></a><a href="https://www.instagram.com/movewellza/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>1962-1966</b></h4> 
    <p>The Beatles</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Greatest Hits</b></h4> 
    <p>The Beach Boys</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Free Electric Band</b></h4> 
    <p>Albert Hammond</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Greatest Hits</b></h4> 
    <p>Simon and Garfunkel</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Graceland</b></h4> 
    <p>Paul Simon</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>In English</b></h4> 
    <p>Francoise Hardy</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Rising</b></h4> 
    <p>Bruce Springsteen</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Carryin' on with Johnny Cash and June Carter</b></h4> 
    <p>Johnny Cash and June Carter</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Tourism</b></h4> 
    <p>Roxette</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Foiled</b></h4> 
    <p>Blue October</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a11.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Aha Shake Heartbreak</b></h4> 
    <p>Kings of Leon</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a12.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Because of the Times</b></h4> 
    <p>Kings of Leon</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a13.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Hot Fuss</b></h4> 
    <p>The Killers</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a14.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Clap Your Hands Say Yeah!</b></h4> 
    <p>Clap Your Hands Say Yeah</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a15.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Films About Ghosts</b></h4> 
    <p>Counting Crows</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a16.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Street Gospels</b></h4> 
    <p>Bedouin Soundclash</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a17.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Eyes Open</b></h4> 
    <p>Snow Patrol</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a18.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Inside In/Inside Out</b></h4> 
    <p>The Kooks</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a19.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>How to Save a Life</b></h4> 
    <p>The Fray</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a20.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Places You Have Come To Fear The Most</b></h4> 
    <p>Dashboard Confessional</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a21.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>A Noise in the Void</b></h4> 
    <p>Kahn</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/no/a22.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Divinely Uninspired to a Hellish Extent</b></h4> 
    <p>Lewis Capaldi</p> </a>
  </div>
</div>

</div>


</div>
