<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/82279ccfbc.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{ title }}</title>
</head>
<body>
  <header>
<nav class="navigation">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/salove/samusic"><li>SA Love</li></a>
        <a href="/about"><li>About</li></a>
      </ul>
    </nav>

    <div class="container">
<div class="header" id="logo-container">
  <a href="/"><img src="/assets/img/logo-white (3).png" alt="Welcome Listen"></a>
</div>
  </header>
  <div id="page-container">
  {{ content | safe }}

  
</div>
</body>
</html>