
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/82279ccfbc.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{ title }}</title>
</head>
<body>
  <header>
<nav class="navigation">
      <ul>
        <a href="/news"><li>News</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a href="/"><li>Home</li></a>
      </ul>
    </nav>

    <div class="container">
<div class="header" id="logo-container">
  <a href="/"><img src="/assets/img/logo-white (2).png" alt="Welcome Listen"></a>
</div>
  </header>
  <div id="page-container">
  {{ content | safe }}

  
  <div class="footer">
  <h2>Best viewed in Netscape Navigator v1.7 and above. Copyright KC Digital 1999.</h2>
  
</div>
</div>
</body>
</html>