---
title: Martin. Myers
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBiggest">
<div class="card">
  <a href="/start"><img src="/assets/img/p18.png" alt="Avatar" style="max-width:80%">
  <div class="container">
    <h4><b>Martin Myers</b></h4> 
    <p>SA music guru, DJ, publicist and co-founder of <a href="www.musicexchange.org.za">Music Exchange</a></p>
    <p><b>Bio:</b> A UCT graduate, and founder of the NPC Music Exchange, publicist and music manager, Martin Myers
began his career in the music industry by running UCT Radio at the University of Cape Town back in 1985.
It was then that he decided that his future lay in the music business.
Martin’s break came that same year when he organized a gig for the legendary Sipho “Hotstix” Mabuse at
UCT in 1985.
The personal and professional relationship with Sipho Mabuse was established then and remains solid over
35 years later. Together they have worked on numerous projects, including the 46664 Mandela Day Concert
in New York in July 2009
 For 16 years, Martin was BMG/ Sony Music's Cape Town publicist and marketing person working closely
with local and international acts including Vusi Mahlasela, BLK Sonshine, Shayne Ward, Just Jinger ,SSQ
and John Legend amongst the many artists.
He was also partner in leading technical company SMD Technical for 15 years and co founded the crew
agency called Crew U. 
In 2009 Martin founded Music Exchange, a non profit body which organizes an annual music
conference designed to empower people in the music industry, especially young artists, with the knowledge
necessary to turn their passion into a sustainable livelihood. Music Exchange has grown significantly, and
now hosts regular workshops across the year with leading figures from the world of music. It is recognized
as South Africa’s leading independent music conference
The conference now in its 10 th year is held annually in September and has brought to South Africa many
highly respected international speakers to Cape Town.
World music leaders with gravitas including: Charles Goldstuck, the President and Chief Executive Officer of
TouchTunes Interactive Networks, and formerly the President and Chief Operating Officer of the
Bertelsmann Music Group (U.S.), a division of Sony Music Entertainment, one of the world’s leading music
companies; Dr Trevor Jones, (whom we manage in South Africa), one of the world’s leading film composers,
based in Hollywood and London, who grew up in District 6; from Australia, Stuart Rubin , the head of
marketing for BMG Record Company, and David Vodika chairman of Rubber Records Australia; and in 2014
from Germany, Tim Renner, the Minister for Culture for Berlin and from the United States, Mos Def and in
2015 we had Bryan Michael Cox 9 time Grammy winner and Brandon Bakshi head of BMI London.
Martin also manages RJ Benjamin, Siphokazi Jonas and Dr Trevor Jones work in South Africa and
consults to various artists especially in the W Cape</a>.
</p><br><p>“My ultimate SA Music top 10 is based on a shared experience of where the music has taken me and placed me.

Each song continues to take me to a place in time to this day and the songs bring joy to me every time I play them and that's the power of music.

Music has been my DNA since those early days in the 80’s at UCT and continues to play a vital role in my daily life.“</p> </a>
  <a href="https://martinmyers.wordpress.com/" target="_blank"><i class="fas fa-desktop"></i></a><a href="https://twitter.com/MartinMyers" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://www.musicexchange.org.za/" target="_blank"><i class="fas fa-desktop"></i></a><a href="https://twitter.com/musicexchange" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Whispers in the deep</b></h4>
    <h4><b>Album: Look, Listen and Decide</b></h4> 
    <p>Stimela</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Burn Out</b></h4>
    <h4><b>Album: The Ultimate Collction</b></h4>  
    <p>Sipho Mabuse</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Lifting Me into the Stars</b></h4>
    <h4><b>Album: </b></h4> 
    <p>RJ Benjamin</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Rise above this</b></h4>
    <h4><b>Album: Finding Beauty in Negative Spaces</b></h4> 
    <p>Seether</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Waiting for the Dawn</b></h4>
    <h4><b>Album: Waiting for the Dawn</b></h4> 
    <p>Big Sky</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Graceland Medley</b></h4>
    <h4><b>Album: Rhythms of Africa</b></h4> 
    <p>Soweto String Quartet</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Osiyeza (The Crossing)</b></h4>
    <h4><b>Album: Heat, Dust and Dreams</b></h4> 
    <p>Johnny Clegg</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Music and Lights</b></h4>
    <h4><b>Album: Acceptance Speech: Re-written</b></h4> 
    <p>HHP</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Feel Good</b></h4>
    <h4><b>Album: Feel Good</b></h4> 
    <p>Lira</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mm/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Song: Fiasco</b></h4>
    <h4><b>Album: Guz 2001</b></h4> 
    <p>Tkzee</p> </a>
  </div>
</div>

</div>


</div>
