---
title: Shotgun. Tori
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p10.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Shotgun Tori</b></h4> 
    <p>Alt/folk singer songwriter</p>
    <p><b>Bio:</b> “A little bit of folk; a little bit of country; a whole lot of raspy cut-to-the-heart feeling.” – Rolling Stone (SA)</p> </a>
  <a href="https://twitter.com/ShotgunTori" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://web.facebook.com/ShotgunTori/" target="_blank"><i class="fab fa-facebook"></i></a><a href="https://www.instagram.com/shotguntori/" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://open.spotify.com/artist/4OSdYoQni5cUktApP2V4c3" target="_blank"><i class="fab fa-spotify"></i></a>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href="/shotguntori/a1"><img src="/assets/img/st/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Poses</b></h4> 
    <p>Rufus Wainwright</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/a2"><img src="/assets/img/st/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Martha Wainwright</b></h4> 
    <p>Martha Wainwright</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/shotguntori/a3"><img src="/assets/img/st/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Dilate</b></h4> 
    <p>Ani Di Franco</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/shotguntori/a4"><img src="/assets/img/st/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Songs of Leonard Cohen</b></h4> 
    <p>Leonard Cohen</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/shotguntori/a5"><img src="/assets/img/st/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Carpenters</b></h4> 
    <p>Carpenters</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/a6"><img src="/assets/img/st/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Watching & Waiting</b></h4> 
    <p>Rambling Bones</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/a7"><img src="/assets/img/st/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Gold</b></h4> 
    <p>Ryan Adams</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/a8"><img src="/assets/img/st/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>A Brief History...</b></h4> 
    <p>The Waifs</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/a9"><img src="/assets/img/st/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Highwomen</b></h4> 
    <p>The Highwomen</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/a10"><img src="/assets/img/st/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Wide Open Spaces</b></h4> 
    <p>Dixie Chicks</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/a11"><img src="/assets/img/st/a11.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Car Wheels on a Gravel Road</b></h4> 
    <p>Lucinda Williams</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/a12"><img src="/assets/img/st/a12.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>TNTLC</b></h4> 
    <p>Boo!</p> </a>
  </div>
</div>

</div>


</div>
