---
title: Charis. Marks
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p14.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Charis Marks</b></h4> 
    <p>Management Consultant/Program Manager</p>
    <p><b>Bio:</b> Woman of Africa with international experience. Leader to young entrepreneurs. Music taste is not immune to the odd guilty pleasure.</p> </a>
  <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>



<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Some Nights</b></h4> 
    <p>FUN.</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Bad Blood</b></h4> 
    <p>Bastille</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Life for Rent</b></h4> 
    <p>Dido</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Two lefts don't make a right...but three do</b></h4> 
    <p>Relient K</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Free</b></h4> 
    <p>David Degraw</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Calogero</b></h4> 
    <p>Calogero</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Greatest Hits</b></h4> 
    <p>Tracy Chapman</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Ancient Voices</b></h4> 
    <p>Chiwoniso</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Don't Look Away</b></h4> 
    <p>Kate Voegele</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Sweeney Todd Soundtrack</b></h4> 
    <p>Various Artists</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a11.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Affirmation</b></h4> 
    <p>Savage Garden</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/cm/a12.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Scala and Kolacny Brothers</b></h4> 
    <p>Scala and Kolacny Brothers</p> </a>
  </div>
</div>
</div>


</div>
