---
title: Mark. Fraser-Grant
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBiggest">
<div class="card">
  <a href="/start"><img src="/assets/img/p20.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Mark Fraser-Grant</b></h4> 
    <p>A passionate Dad, Coach, Facilitator and Trainer</p>
    <p><b>Bio:</b> Mark was born in Durban in 1967 to an immigrant Hungarian circus performer and his mother who was born in Zimbabwe. His first lesson already began before he was born as his Father disappeared before he was born.

      He had to deal with abandonment. His mother married a British orphan who grew up in Zimbabwe who was often violent, abusive and also an alcoholic. Mark then also had to learn how to be with abuse. They moved to the UK in the late 70’s and lived in a very poor council estate. Mark went to a rough & tough school and was bullied badly for 3 years. He learnt to run and was forced to learn to fight and stand up for himself.<br><br>
      Whilst dealing with a troubled alcoholic step father that made home life unpredictable and violent Mark took refuge in music and started his love of a melody with the Beatles, Simon & Garfunkel and Creedence Clearwater Revival. This developed into a much wider range as his curiosity and enjoyment was activated from Otis Redding to David Bowie and checking out nearly all the different genre’s of music.<br><br>
      Not wanting to follow the path of his parents caused Mark to search for answers and he read his first “spiritual” book at 16.  He also decided to take up Kick Boxing and martial arts to deal with the growing aggression inside of himself. In 1990 after getting to 1st Dan level he entered an open European kick boxing tournament and won it in his weight division of super featherweight.<br><br>
      Being exposed to different cultures enabled Mark to look at societies & cultures from the outside in and saw what he later discovered was “conditioning” also “herd mentality” he decided to take a different path. After many wrong turns and also getting a bit lost in the “party” scene he decided to return to SA in 1996.<br><br>
      This led him eventually to the self-development and coaching world. There he became an international Master Trainer for Creative Consciousness and a coach at the top of his field. That only happened after further intense life challenges like losing his life partner (Hayley) and mother to his eldest daughter in a fatal car accident. Mark also was scarred and his brain impacted by this accident. This is when he decided to use the tools he had learnt on himself and to continue serving others through consciousness development and coaching.<br><br>
      He picked himself up after the accident and as a single Dad created a successful international coaching & coach training business. Now Mark has over 10,000 hours of being in service to others over the last 16 years and also coaches CEO’s, Teams and individuals and a journey to discover their authentic self and truest nature outside of societal conditioning. He is also now a family man with his wife Jessie and daughters Jude (from Hayley) and Jamie (from Jessie) who keep him grounded and provide the opportunity to continue growing & healing internally.</p> </a>
  <a href="https://starleadership.co.za" target="_blank"><i class="fas fa-desktop"></i></a><a href="https://web.facebook.com/starleadershiporganisation" target="_blank"><i class="fab fa-facebook"></i><a href="https://www.instagram.com/StarLeadership/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Bends</b></h4> 
    <p>Radiohead</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Stone Roses</b></h4> 
    <p>The Stone Roses</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Urban Hymns</b></h4> 
    <p>The Verve</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The White Album</b></h4> 
    <p>The Beatles</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Who’s Next</b></h4> 
    <p>The Who</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Very Best of Otis Redding</b></h4> 
    <p>Otis Redding</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Mezzanine</b></h4> 
    <p>Massive Attack</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Murmur</b></h4> 
    <p>R.E.M</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Dummy</b></h4> 
    <p>Portishead</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Universal Want</b></h4> 
    <p>Doves</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a11.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Cheap Queen</b></h4> 
    <p>King Princess</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a12.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>A Deeper Understanding</b></h4> 
    <p>The War on Drugs</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a13.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Bridge Over Troubled Water</b></h4> 
    <p>Simon & Garfunkel</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/mfg/a14.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Leftism</b></h4> 
    <p>Leftfield</p> </a>
  </div>
</div>

</div>


</div>
