---
title: Claire. Land
layout: album.njk
---
<h1>You're listening with Claire Land...</h1>


<div class="parent">
<div class="box">
<div class="card">
  <a href="/start"><img src="/assets/img/cl/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Album Comment</b></h4> 
    <p>The year was 1995, I was 11yrs old and being taken on an impromptu tour of my soon to be boarding school.
    I was extremely overwhelmed and intimidated by the sheer scale of the old buildings and the suffocating air of tradition.
    It was at this moment when I heard Brad Roberts' booming baritone roar through the corridors: "After seven days...".
    What a fitting venue. That cassette tape played through my headphones regularly for years afterwards. Rather challenging 
    lyrics for a pre-teen! The culmination of my obsession with this album was watching the band live in 2018 where the played the album 
    from start to finish. Bucket list stuff. 
    </p>
    <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>God Shuffled His Feet</b></h4> 
    <p>After seven years he was quite tired. So God said...Let there be a day just for picnics there will be wine and bread</p>
  </div>
</div>
</div>
</div>

<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Afternoons & Coffeespoons</b></h4> 
    <p>After seven years</p>
  </div>
</div>
</div>
</div>



<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Mmm mmm mmm mmm</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>In the days of the caveman</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Swimming in your ocean</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Here I stand before me</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>I think I'll disappear now</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>How does a duck know</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>When I go out with artists</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>The Psychic</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

   <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Two Knights and Maidens</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

   <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Untitled</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>
