---
title: Claire. Land
layout: profile.njk
---
<h1>Welcome! It's wonderful to meet you!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p1.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Claire Land</b></h4> 
    <p>Credit Analyst</p>
    <p><b>Bio:</b> I've been listening to music since i can remember. I have a wide taste that often contradicts each other. I hope you enjoy my favourites!</p> </a>
  <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href="/claireland/a1"><img src="/assets/img/cl/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Les Miserables</b></h4> 
    <p>Original Cast Recording (English)</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/claireland/a2"><img src="/assets/img/cl/a2.jpg" alt="Album2" style="width:100%">
  <div class="container">
    <h4><b>Jagged Little Pill</b></h4> 
    <p>Alanis Morissette</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/claireland/a3"><img src="/assets/img/cl/a3.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Smash</b></h4> 
    <p>The Offspring</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/claireland/a4"><img src="/assets/img/cl/a4.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>O</b></h4> 
    <p>Damien Rice</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/claireland/a5"><img src="/assets/img/cl/a5.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>The Places you have come to fear the most</b></h4> 
    <p>Dashboard Confessional</p> </a>
  </div>
</div>

</div>

</div>
