---
title: Willie. JVR
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p11.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Willie JVR</b></h4> 
    <p>Operations</p>
    <p><b>Bio:</b> Chartered Accountant by education and all things operations. Husband, father and once a drummer.</p> </a>
  <a href="" target="_blank"><i class="fab fa-twitter"></i></a><i class="fab fa-facebook"></i><a href="" target="_blank"><i class="fab fa-instagram"></i></a><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href="/williejvr/a1"><img src="/assets/img/wj/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Hot Fuss</b></h4> 
    <p>The Killers</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/williejvr/a2"><img src="/assets/img/wj/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>All That You Can't Leave Behind</b></h4> 
    <p>U2</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/williejvr/a3"><img src="/assets/img/wj/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Parachutes</b></h4> 
    <p>Coldplay</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/williejvr/a4"><img src="/assets/img/wj/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Whatever People Say I Am, That's What I'm Not</b></h4> 
    <p>Artic Monkeys</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/williejvr/a5"><img src="/assets/img/wj/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Antichrist Superstar</b></h4> 
    <p>Marilyn Manson</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/williejvr/a6"><img src="/assets/img/wj/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Unplugged in New York</b></h4> 
    <p>Nirvana</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/williejvr/a7"><img src="/assets/img/wj/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Ten</b></h4> 
    <p>Pearl Jam</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/williejvr/a8"><img src="/assets/img/wj/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Insomniac</b></h4> 
    <p>Green Day</p> </a>
  </div>
</div>

</div>


</div>
