---
title: Terry. O'Connor
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p13.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Terry O'Connor</b></h4> 
    <p>Tourism/Physiotherapist</p>
    <p><b>Bio:</b> From the UK and grew up surrounded by arguably one of the greatest music scenes.</p> </a>
  <a href="https://twitter.com/S_A_Secrets" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://web.facebook.com/South.African.Secrets"><i class="fab fa-facebook"></i></a><a href="https://www.southafricansecrets.co.uk/" target="_blank"><i class="fas fa-desktop"></i></a><a href="https://www.instagram.com/south_african_secrets/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Electric Warrior</b></h4> 
    <p>T.Rex</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Slider</b></h4> 
    <p>T.Rex</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>For Your Pleasure</b></h4> 
    <p>Roxy Music</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Station to Station</b></h4> 
    <p>David Bowie</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
 <a href=""><img src="/assets/img/to/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Low</b></h4> 
    <p>David Bowie</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Here Comes The Warm Jets</b></h4> 
    <p>ENO</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>In Your Mind</b></h4> 
    <p>Bryan Ferry</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>These Foolish Things</b></h4> 
    <p>Bryan Ferry</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Dark Side of the Moon</b></h4> 
    <p>Pink Floyd</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Songs for Distingue Lovers</b></h4> 
    <p>Billie Holiday</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a11.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Girl at Her Volcano</b></h4> 
    <p>Rickie Lee Jones</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a12.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Transformer</b></h4> 
    <p>Lou Reed</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a13.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Achtung Baby</b></h4> 
    <p>U2</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a14.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Diana</b></h4> 
    <p>Diana Ross</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a15.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>2 (Melt)</b></h4> 
    <p>Peter Gabriel</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a16.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Listen Without Prejudice</b></h4> 
    <p>George Michael</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a17.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>BLACK</b></h4> 
    <p>Black</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a18.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Toshiyuke Watanabe</b></h4> 
    <p>Paused Wind</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a19.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Songs of Faith & Devotion</b></h4> 
    <p>Depeche Mode</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a20.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>I Am A Bird Now</b></h4> 
    <p>Anthony & the Johnsons</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a21.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Hounds of Love</b></h4> 
    <p>Kate Bush</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a22.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Practice of Everyday Life</b></h4> 
    <p>Bill Nelson</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a23.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Do You Want the Truth or Something Beautiful</b></h4> 
    <p>Paloma Faith</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a24.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Be Yourself Tonight</b></h4> 
    <p>Eurythmics</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a25.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>For Sentimental Reasons</b></h4> 
    <p>Linda Ronstadt</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a26.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Tunnel of Love</b></h4> 
    <p>Bruce Springsteen</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a27.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>X&Y</b></h4> 
    <p>Coldplay</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a28.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Replicas</b></h4> 
    <p>Tubeway Army</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a29.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Band on the Run</b></h4> 
    <p>Paul McCartney & Wings</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/to/a30.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Born to Die</b></h4> 
    <p>Lana Del Rey</p> </a>
  </div>
</div>

</div>

</div>
