---
title: Quinton. Naidoo
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p15.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Quinton Naidoo</b></h4> 
    <p>International Banker</p>
    <p><b>Bio:</b> South African living in London. Fan of Football, Film and far too much music.</p> </a>
  <a href="https://twitter.com/quintus82" target="_blank"><i class="fab fa-twitter"></i></a><i class="fab fa-facebook"></i><a href="https://www.instagram.com/qnaidoo/" target="_blank"><i class="fab fa-instagram"></i></a><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Hot Fuss</b></h4> 
    <p>The Killers</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Secret Samadhi</b></h4> 
    <p>Live</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Blood Sugar Sex Magik</b></h4> 
    <p>Red Hot Chilli Peppers</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Dookie</b></h4> 
    <p>Green Day</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Ten</b></h4> 
    <p>Pearl Jam</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Joshua Tree</b></h4> 
    <p>U2</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>MTV Unplugged in New York</b></h4> 
    <p>Nirvana</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Use Your Illusion (I & II)</b></h4> 
    <p>Guns 'n Roses</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Jagged Little Pill</b></h4> 
    <p>Alanis Morisette</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/qn/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>OK Computer</b></h4> 
    <p>Radiohead</p> </a>
  </div>
</div>

</div>


</div>
