---
title: Brian. Currin
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p17.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Brian Currin</b></h4> 
    <p>Playlist Creator & Web Marketer</p>
    <p><b>Bio:</b> Playlist Creator & Web Marketer. The son of a church organist father and pianist mother, South African born Brian Currin grew up surrounded by music. In his pre-teen years he realised that he had no real talent for playing music and he couldn't sing, so he immersed himself in the world of music by listening, exploring and researching. Which he still does today.

He served in the military for five years, then spent many years in corporate sales and marketing until his involvement in the re-discovery of Rodriguez, opened up a whole new world for him.

He was the Content Editor for Rhythm Online, South Africa's first online music store, from 2006 to 2012.

He ran Mabu Vinyl, the iconic music store seen in the Oscar-winning "Searching For Sugar Man" film from 2013 to 2019. His voice could be heard on the streaming radio station All Jazz Radio where he hosted the Vagabond Show from 2012 to 2019.

He is very involved in promoting South African music, and is the co-owner of a number of music-related websites including www.rock.co.za which he founded in 1999..<br><br>
Check out Brian's write up of each of these albums by clicking <a href="https://briancurrin.wordpress.com/2009/04/24/my-top-ten-favourite-albums-of-all-time/">here</a>.
</p> </a>
  <a href="https://briancurrin.wordpress.com/" target="_blank"><i class="fas fa-desktop"></i></a><a href="https://twitter.com/briancurrin" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://web.facebook.com/BrianCurrinMusic/"><i class="fab fa-facebook"></i></a><a href="https://www.instagram.com/briancurrinmusic/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>'n Suitcase Vol Winter</b></h4> 
    <p>Piet Botha</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Rise and Fall of Ziggy Stardust and the Spiders from Mars</b></h4> 
    <p>David Bowie</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Made in Japan</b></h4> 
    <p>Deep Purple</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Selling England By The Pound</b></h4> 
    <p>Genesis</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Hearing Earring</b></h4> 
    <p>Golden Earring</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Aqualung</b></h4> 
    <p>Jethro Tull</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Dark Side Of The Moon</b></h4> 
    <p>Pink Floyd</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Space Hymns</b></h4> 
    <p>Ramases</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Cold Fact</b></h4> 
    <p>Rodriguez</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/bc/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Journey To The Centre Of The Earth</b></h4> 
    <p>Rick Wakeman With The London Symphony Orchestra</p> </a>
  </div>
</div>

</div>


</div>
