---
title: Brett. Roux
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p9.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Brett Roux</b></h4> 
    <p>Photographer/Entrepreneur</p>
    <p><b>Bio:</b> Passionate about Africa and all things wildlife.</p> </a>
  <a href="https://twitter.com/BrettRoux" target="_blank"><i class="fab fa-twitter"></i></a><i class="fab fa-facebook"></i><a href="https://www.instagram.com/africanlightartist/" target="_blank"><i class="fab fa-instagram"></i></a><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href="/brettroux/a1"><img src="/assets/img/br/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>No Name Face</b></h4> 
    <p>Lifehouse</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a2"><img src="/assets/img/br/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Dizzy up the girl</b></h4> 
    <p>Goo Goo Dolls</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/brettroux/a3"><img src="/assets/img/br/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Only by night</b></h4> 
    <p>Kings of Leon</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/brettroux/a4"><img src="/assets/img/br/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>All that is should be</b></h4> 
    <p>Plush</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/brettroux/a5"><img src="/assets/img/br/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Dutch Courage</b></h4> 
    <p>aKing</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a6"><img src="/assets/img/br/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>North</b></h4> 
    <p>Something Corporate</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a7"><img src="/assets/img/br/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Bon Iver</b></h4> 
    <p>Bon Iver</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a8"><img src="/assets/img/br/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Sigh No More</b></h4> 
    <p>Mumford and Sons</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a9"><img src="/assets/img/br/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>All the Stars and Boulevards</b></h4> 
    <p>Augustana</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a10"><img src="/assets/img/br/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>August and Everything After</b></h4> 
    <p>Counting Crows</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a11"><img src="/assets/img/br/a11.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Crowded House</b></h4> 
    <p>Crowded House</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a12"><img src="/assets/img/br/a12.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Futures</b></h4> 
    <p>Jimmy Eat World</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a13"><img src="/assets/img/br/a13.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>A South African Story</b></h4> 
    <p>Johnny Clegg</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/a14"><img src="/assets/img/br/a14.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>In Between Dreams</b></h4> 
    <p>Jack Johnson</p> </a>
  </div>
</div>

</div>

</div>
