---
title: Greg. King
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p12.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Greg King</b></h4> 
    <p>Theatre Artist</p>
    <p><b>Bio:</b> I love the theatre in all its forms. My music choices feature creative adaptations of musical theatre numbers and jazz standards, storytelling through song, unique vocalists, harmony, humour and heart.</p> </a>
  <a href="https://twitter.com/KickstartProd1" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://web.facebook.com/kickstarttheatre.co.za/"><i class="fab fa-facebook"></i></a><a href="https://www.kickstarttheatre.co.za/" target="_blank"><i class="fas fa-desktop"></i></a>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/gk/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>An evening with Sutton Foster, live at the Cafe Carlyle</b></h4> 
    <p>Sutton Foster</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/gk/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Deleted Scenes from the Cutting Room Floor</b></h4> 
    <p>Caro Emerald</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/gk/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Liquid Spirit</b></h4> 
    <p>Gregory Porter</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/gk/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Barefoot at the Symphony</b></h4> 
    <p>Idina Menzel</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
 <a href=""><img src="/assets/img/gk/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Songs from the Last Century</b></h4> 
    <p>George Michael</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/gk/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Betcha Bottom Dollar</b></h4> 
    <p>The Puppini Sisters</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/gk/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Breakfast on the Morning Train</b></h4> 
    <p>Stacey Kent</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/gk/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>DeLovely (Original Motion Picture Soundtrack)</b></h4> 
    <p>Various Artists</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/gk/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Twenty Something</b></h4> 
    <p>Jamie Cullum</p> </a>
  </div>
</div>

</div>

</div>
