---
title: Robert. Marks
layout: profile.njk
---
<h1>Welcome! It's wonderful to meet you!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p6.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Robert Marks</b></h4> 
    <p>Insurance Analyst</p>
    <p><b>Bio:</b> I play bass guitar. I write musicals. I know my music theory. So many favourite albums, such little time!</p> </a>
  <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>



<div class="parent">
<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Les Miserables</b></h4> 
    <p>Original Cast Recording (English)</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Kind of Blue</b></h4> 
    <p>Miles Davis</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>August and Everything After</b></h4> 
    <p>Counting Crows</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Heavy Weather</b></h4> 
    <p>Weather Report</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Mercy Mercy Mercy</b></h4> 
    <p>Cannonball Adderley</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Quietly Now!</b></h4> 
    <p>Frightened Rabbit</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Asylum Years</b></h4> 
    <p>Tom Waits</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Blue</b></h4> 
    <p>Joni Mitchell</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Graceland</b></h4> 
    <p>Paul Simon</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Can't buy a thrill</b></h4> 
    <p>Steely Dan</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a11.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Automatic for the people</b></h4> 
    <p>REM</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a12.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Throwing Copper</b></h4> 
    <p>Live</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a13.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Rebel Woman</b></h4> 
    <p>Chiwoniso Maraire</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a14.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Opposites</b></h4> 
    <p>Biffy Clyro</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a15.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Songbook</b></h4> 
    <p>Chris Cornell</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a16.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Tramp</b></h4> 
    <p>Sharon van Etten</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a17.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Rumours</b></h4> 
    <p>Fleetwood Mac</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a18.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Grace</b></h4> 
    <p>Jeff Buckley</p> </a>
  </div>
</div>
</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/a1"><img src="/assets/img/rm/a19.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Hail to the thief</b></h4> 
    <p>Radiohead</p> </a>
  </div>
</div>
</div>

</div>
