---
title: About Us
layout: base.njk
---

<div class="container">
  <h1>Your. Tribe.</h1>
  <p>A home for life defining albums. No playlists. No singles.</p>
  <p>The name is inspired by the Crash Test Dummies song "Afternoons & Coffeespoons" which took inspiration from the poem The Love Song of J. Alfred Prufrock by T.S Eliot.</p>
  <p>This is a hobby site built using the JAMStack.</p>
  <p>Next steps are to add some relevant API data, keep adding content and contact a few people to see if they'd be interested in contributing.</p>
</div>