---
title: Your. Tribe
layout: base.njk
---

<div class="container" id="welcome">
  <h1>Your. Tribe.</h1>
  <p>A home for life defining albums. No playlists. No singles.</p>
  <p>The name is inspired by the Crash Test Dummies song "Afternoons & Coffeespoons" which took inspiration from the poem The Love Song of J. Alfred Prufrock by T.S Eliot.</p>
  <p>This site built using the JAMStack.</p>
  <p>Next steps are to update data using an API and keep adding curators.</p>
</div>