---
title: Joshua. Jones
layout: album.njk
---
<h1>Welcome! It's wonderful to meet you!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/Claireland"><img src="/assets/img/p5.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Angie Smith</b></h4> 
    <p>Photographer</p>
    <p><b>Bio:</b> I'm mostly into musicals! Clasics and new theatre.</p> </a>
  </div>
</div>
</div>
</div>





<div class="parent">
<div class="box">
<div class="card">
  <a href="/Claireland"><img src="/assets/img/cl/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>God Shuffled His Feet</b></h4> 
    <p>Crash Test Dummies</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/cl/a2.jpg" alt="Album2" style="width:100%">
  <div class="container">
    <h4><b>Jagged Little Pill</b></h4> 
    <p>Alanis Morissette</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/cl/a3.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Smash</b></h4> 
    <p>The Offspring</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/cl/a4.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>O</b></h4> 
    <p>Damien Rice</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/cl/a5.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>The Places you have come to fear the most</b></h4> 
    <p>Dashboard Confessional</p> </a>
  </div>
</div>

</div>

</div>