---
title: Contact
layout: base.njk
---

<div class="container">
  <h1>Keep in touch!</h1>
  <p>If you would like to apply to be a curator please send an email to "coming soon".</p>
  <p>If you would like to be notified when new curators are added please fill out the below form: "coming soon".</p>
</div>