---
title: Welcome. Listen
layout: base.njk
---

<div class="vibe container"></div><br>
  <div class="love">
    <i class="fas fa-headphones-alt"></i> ❤️ <i class="fas fa-guitar"></i>
  </div><br><br>

<div class="container">

  <div id="welcome">
  These are the albums you HAVE to listen to. They are not playlists. They are not singles.<br>
  They filled our ears and hearts and became the sole context that shaped our world.<br>
  They have defined lives.<br> 
  
  </div>
  
  <div class="container">
  <p><a href="/start"><button class="button"><i class="fas fa-play"></i> Play</button></a></p>
  
</div>

  <div class="container">
<div class="header" id="cups-container">
  <img src="/assets/img/cassetteAC4.png" alt="Welcome Listen">
</div>
  

</div>

<script src="/js/vibe.js"></script>