---
title: Welcome. Listen
layout: base.njk
---

<br><div class="vibe container"></div><br>
  <div class="love">
    <i class="fas fa-headphones-alt"></i> ❤️ <i class="fas fa-guitar"></i>
  </div><br>

<div class="container">

  <div id="welcome">
  These are the albums you HAVE to listen to. They are not playlists. They are not singles.<br>
  They filled our ears and hearts and made us forget that other music existed.<br>
  They have defined lives.<br> 
  <br>
  </div>
  

  <div class="container">
  <p><a href="/start"><button class="button">Start</button></a></p>
  <p><a href="https://www.youtube.com/watch?v=kffacxfA7G4"><button class="button2">Don't Press!</button></a></p>
</div>

</div>
<script src="/js/vibe.js"></script>