---
title: Jack. Norris
layout: profile.njk
---
<h1>Welcome! It's wonderful to meet you!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p4.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Jack Norris</b></h4> 
    <p>Office Manager</p>
    <p><b>Bio:</b> Hair metal and arena rock have a special place in my heart. Def Jovi for life!</p> </a>
    <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>





<div class="parent">
<div class="box">
<div class="card">
  <a href="/Claireland"><img src="/assets/img/jn/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Crossraods</b></h4> 
    <p>Bon Jovi</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/jn/a2.jpg" alt="Album2" style="width:100%">
  <div class="container">
    <h4><b>Hysteria</b></h4> 
    <p>Def Leppard</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/jn/a3.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Nine Lives</b></h4> 
    <p>Aerosmith</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/jn/a4.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Appetite for destruction</b></h4> 
    <p>Guns N Roses</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/jn/a5.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Iron Maiden</b></h4> 
    <p>Iron Maiden</p> </a>
  </div>
</div>

</div>

</div>