---
title: Welcome. Listen
layout: base.njk
---

<div id="container-wrap">
  <h1>Testing the LastFM API</h1>

  <div>
    <ul class="btn-grid2">
           <li><label>Profile:</label> <input type="text" id="profile" value="Claire Land">
           <li><label>Artist:</label> <input type="text" id="artist" value="Blue October">
           <li><label>Album:</label> <input type="text" id="album" value="Foiled">
    </ul>
  </div>
  <p><button id="fetchBtn">Fetch songs</button><br>
  
  <div class="container">

  <ul>

    <h2>Artist: {{lastFM.album.artist}}</h2>
    <h2>Album: {{lastFM.album.name}}</h2><br>
    <h2>Song List</h2><br>

  {% for track in lastFM.album.tracks.track %}

    <p id="songArticle">
      <h2>{{ track.name }}</h2>
    </p>

  {% endfor %}

  </ul>
  </div>
<br><br>
  <div class="container">
<ul>

  <h2>Profile: {{lastFM.album.artist}}</h2>

{% for track in thelist.album.tracks.track %}
<p>
  <h2>{{ track.name}}</h2>
  <h2>{{ track.role}}</h2>
  <h2>{{ track.bio}}</h2>
  <h2>{{ track.choice.artist}}</h2>
  </p>  
{% endfor %}

</ul>
  </div>
</div><br>


