---
title: Matt. Matthews
layout: album.njk
---
<h1>Welcome! It's wonderful to meet you!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p2.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Matt Matthews</b></h4> 
    <p>Interior Designer</p>
    <p><b>Bio:</b> Punk! And then some more punk! Growing up in the 90's has poured lots of fuel on my fire!</p> </a>
  </div>
</div>
</div>
</div>





<div class="parent">
<div class="box">
<div class="card">
  <a href="/Claireland"><img src="/assets/img/mm/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Enema of the State</b></h4> 
    <p>Blink 182</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/mm/a2.jpg" alt="Album2" style="width:100%">
  <div class="container">
    <h4><b>Dookie</b></h4> 
    <p>Greenday</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/mm/a3.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>A fever you can't sweat out</b></h4> 
    <p>Panic! at the Disco</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/mm/a4.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Heavy Petting Zoo</b></h4> 
    <p>NOFX</p></a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/"><img src="/assets/img/mm/a5.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Blink 182</b></h4> 
    <p>Blink 182</p> </a>
  </div>
</div>

</div>

</div>