---
title: Welcome. Listen
layout: base.njk
---

<div class="container">
  <h1>Latest News using the NewsAPI</h1>
  
  <div class="container">
  <ul>
  {% for article in news.articles %}
    <li>
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
    </li>

  {% endfor %}
  </ul>
  </div>
</div><br>
<script src="/js/vibe.js"></script>