---
title: Please. Start
layout: album.njk
---
<h1>Choose your vibe</h1>

<div class="container2">
<div class="row">
<div class="col-3">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>

<div class="col-3">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>


<div class="col-3">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>


<div class="col-4">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>


<div class="col-4">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>

</div>

</div>

<div class="grid-container">
  
<div class="grid-item"><div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div></div>

  <div class="grid-item"><div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <a href="/"><div class="container">
    <h4><b>Matt Matthews</b></h4> 
    <p>Interior Designer</p> </a>
  </div>
</div></div>

  <div class="grid-item"><div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Steph Stevens</b></h4> 
    <p>Engineer</p> 
  </div>
</div></div>

  <div class="grid-item"><div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Jack Norris</b></h4> 
    <p>Architect</p> 
  </div>
</div></div>

  <div class="grid-item"><div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Mark Potter</b></h4> 
    <p>Science stuff</p> 
  </div>
</div></div>

  <div class="grid-item"><div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Noel Diamond</b></h4> 
    <p>Musician</p> 
  </div>
</div></div>

  <div class="grid-item"><div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kim Knows</b></h4> 
    <p>Engineer</p> 
  </div>
</div></div>

  <div class="grid-item"><div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Sarah Dee</b></h4> 
    <p>CEO</p> 
  </div>
</div></div>


</div>
<script src="/js/vibe.js"></script>