---
title: Please. Start
layout: album.njk
---
<h1>Choose your vibe</h1>


<div class="row">
<div class="col-4">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>

<div class="col-4">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <a href="/"><div class="container">
    <h4><b>Matt Matthews</b></h4> 
    <p>Interior Designer</p> </a>
  </div>
</div>

</div>


<div class="col-4">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>


<div class="col-4">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>


<div class="col-4">
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> 
  </div>
</div>

</div>

</div>
