---
title: Your. Vibe
layout: profile.njk
---
<h1>Curators</h1>
<p>Choose a curator's profile to view their albums. </p>



<div class="parent">

        <div class="box">
<div class="card">
  <a href="/davidjenkins/DavidJenkins"><img src="/assets/img/p19.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>David 'Qadasi' Jenkins</b></h4> 
    <p>SAMA Award-winning Maskandi Musician</p> </a>
  </div>
</div>

</div>

      <div class="box">
<div class="card">
  <a href="/martinmyers/MartinMyers"><img src="/assets/img/p18.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Martin Myers</b></h4> 
    <p>SA music guru, DJ, publicist and co-founder of Music Exchange</p> </a>
  </div>
</div>

</div>

    <div class="box">
<div class="card">
  <a href="/briancurrin/BrianCurrin"><img src="/assets/img/p17.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Brian Currin</b></h4> 
    <p>Playlist Creator & Web Marketer</p> </a>
  </div>
</div>

</div>

  <div class="box">
<div class="card">
  <a href="/nickyoliver/NickyOliver"><img src="/assets/img/p16.1.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Nicky Oliver</b></h4> 
    <p>Biokineticist</p> </a>
  </div>
</div>

</div>

  <div class="box">
<div class="card">
  <a href="/quintonnaidoo/QuintonNaidoo"><img src="/assets/img/p15.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Quinton Naidoo</b></h4> 
    <p>International Banker</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/charismarks/CharisMarks"><img src="/assets/img/p14.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Charis Marks</b></h4> 
    <p>Management Consultant</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/terryoconnor/TerryOconner"><img src="/assets/img/p13.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Terry O'Connor</b></h4> 
    <p>Tourism/Physiotherapist</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/gregking/GregKing"><img src="/assets/img/p12.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Greg King</b></h4> 
    <p>Theatre Artist</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/shotguntori/ShotgunTori"><img src="/assets/img/p10.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Shotgun Tori</b></h4> 
    <p>Alt/Folk Singer Songwriter</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/robertmarks/RobertMarks"><img src="/assets/img/p6.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Robert Marks</b></h4> 
    <p>Insurance Analyst</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/antfarrant/AntFarrant"><img src="/assets/img/p8.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Ant Farrant</b></h4> 
    <p>Private Banker</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/brettroux/BrettRoux"><img src="/assets/img/p9.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Brett Roux</b></h4> 
    <p>Photographer/Entrepreneur</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/williejvr/WillieJVR"><img src="/assets/img/p11.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Willie JvR</b></h4> 
    <p>Human</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/KevinClelland"><img src="/assets/img/p7.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/claireland/Claireland"><img src="/assets/img/p1.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Claire Land</b></h4> 
    <p>Test Profile</p> </a>
  </div>
</div>

</div>

</div>