---
title: David. Qadasi. Jenkins
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBiggest">
<div class="card">
  <a href="/start"><img src="/assets/img/p191.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>David 'Qadasi' Jenkins</b></h4> 
    <p>Maskandi Musician</p>
    <p><b>Bio:</b> Hailing from the heart of Zululand, David ‘Qadasi’ Jenkins is a SAMA Award-winning Maskandi musician on a quest to revive the powerful sounds of traditional Zulu music.
Having toured extensively both locally and abroad over the last 10 years, Qadasi's eclectic fusion of Maskandi and western folk music is successfully making its way into local and international music scenes.</p> </a>
  <a href="www.qadasimusic.co.za" target="_blank"><i class="fas fa-desktop"></i></a><a href="www.facebook.com/qadasimusic" target="_blank"><i class="fab fa-facebook"></i><a href="www.instagram.com/david_qadasi" target="_blank"><i class="fab fa-instagram"></i></a><a href="www.youtube.com/davidjenkinsza"><i class="fab fa-youtube"></i></a>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Ngo '49</b></h4> 
    <p>Phuzekhemisi</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Khula Tshitshi Lami</b></h4> 
    <p>Mfaz' Omnyama</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a3.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Universal Men</b></h4> 
    <p>Juluka</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a4.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>African Litany</b></h4> 
    <p>Juluka</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a5.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Graceland</b></h4> 
    <p>Paul Simon</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a6.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Bridge Over Troubled Water</b></h4> 
    <p>Simon & Garfunkel</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a7.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Back Home Again</b></h4> 
    <p>John Denver</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a8.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Lunatic</b></h4> 
    <p>Kongos</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a9.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Ceremonials</b></h4> 
    <p>Florence & the Machine</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a10.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Traveller</b></h4> 
    <p>Baaba Maal</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a11.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>The Crow</b></h4> 
    <p>Steve Martin</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a12.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Up From Below</b></h4> 
    <p>Edward Sharpe and the Magnetic Zeros</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a13.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Storm Boy</b></h4> 
    <p>Xavier Rudd</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href=""><img src="/assets/img/dj/a14.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Abashokobezi</b></h4> 
    <p>Bambata</p> </a>
  </div>
</div>

</div>


</div>
