---
title: Kevin. Clelland
layout: album.njk
---
<h1>You're listening with Kevin Clelland...</h1>


<div class="parent">
<div class="box">
<div class="card">
  <a href="/start"><img src="/assets/img/kc/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Album Comment</b></h4> 
    <p>The year was 1995, I was 11yrs old and being taken on an impromptu tour of my soon to be boarding school.
    I was extremely overwhelmed and intimidated by the sheer scale of the old buildings and the suffocating air of tradition.
    It was at this moment when I heard Brad Roberts' booming baritone roar through the corridors: "After seven days...".
    What a fitting venue. That cassette tape played through my headphones regularly for years afterwards. Rather challenging 
    lyrics for a pre-teen! The culmination of my obsession with this album was watching the band live in 2018 where the played the album 
    from start to finish. Bucket list stuff. 
    </p>
    <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>God Shuffled His Feet</b></h4> 
    <p>After seven days he was quite tired, so God said:
"Let there be a day
Just for picnics with wine and bread."
He gathered up some people He had made
Created blankets, and laid back in the shade
The people sipped their wine
And what with God there,
They asked him questions
Like: Do you have to eat
Or get your hair cut in heaven?
And if your eye got poked out in this life
Would it be waiting up in heaven with your wife?
God shuffled his feet
And glanced around at them
The people cleared their throats
And stared right back at Him
So he said:
"Once there was a boy who woke up with blue hair.
To him it was a joy 'til he ran out to warm air...
He thought of how his friends would come to see
Would they laugh, or had he got some strange disease?"
God shuffled his feet
And glanced around at them
The people cleared their throats
And stared right back at Him
The people sat waiting
Out on their blankets in the garden
But God said nothing...
So someone asked Him,
"I beg your pardon.
I'm not quite clear about what you just spoke...
Was that a parable, or a very subtle joke?"
God shuffled his feet
And glanced around at them
The people cleared their throats
And stared right back at Him</p>
  </div>
</div>
</div>
</div>

<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Afternoons & Coffeespoons</b></h4> 
    <p>After seven years</p>
  </div>
</div>
</div>
</div>



<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Mmm mmm mmm mmm</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>In the days of the caveman</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Swimming in your ocean</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Here I stand before me</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>I think I'll disappear now</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>How does a duck know</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>When I go out with artists</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>The Psychic</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

   <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Two Knights and Maidens</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>

   <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Untitled</b></h4> 
    <p>After seven years</p> </a>
  </div>
</div>
</div>
</div>
