---
title: Kevin. Clelland
layout: album.njk
---
<h2>You're listening with Kevin Clelland...</h2>


<div class="parent">
<div class="boxA">
<div class="cardA">
  <a href="/start"><img src="/assets/img/kc/a1.jpg" alt="Album1" style="width:100%">
  <div class="containerA">
    <h4><b>Album Comment</b></h4> 
    <p>The year was 1995, I was 11yrs old and being taken on an impromptu tour of my soon to be boarding school.
    I was extremely overwhelmed and intimidated by the sheer scale of the old buildings and the suffocating air of tradition.
    It was at this moment when I heard Brad Roberts' booming baritone roar through the corridors: "After seven days...".
    What a fitting venue. That cassette tape played through my headphones regularly for years afterwards. Rather challenging 
    lyrics for a pre-teen! The culmination of my obsession with this album was watching the band live in 2018 where they played the album 
    from start to finish. Bucket list stuff. 
    </p>
    <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>God Shuffled His Feet</b></h4> 
    <p>After seven days he was quite tired, so God said:
"Let there be a day
Just for picnics with wine and bread."
He gathered up some people He had made
Created blankets, and laid back in the shade
The people sipped their wine
And what with God there,
They asked him questions
Like: Do you have to eat
Or get your hair cut in heaven?
And if your eye got poked out in this life
Would it be waiting up in heaven with your wife?
God shuffled his feet
And glanced around at them
The people cleared their throats
And stared right back at Him
So he said:
"Once there was a boy who woke up with blue hair.
To him it was a joy 'til he ran out to warm air...
He thought of how his friends would come to see
Would they laugh, or had he got some strange disease?"
God shuffled his feet
And glanced around at them
The people cleared their throats
And stared right back at Him
The people sat waiting
Out on their blankets in the garden
But God said nothing...
So someone asked Him,
"I beg your pardon.
I'm not quite clear about what you just spoke...
Was that a parable, or a very subtle joke?"
God shuffled his feet
And glanced around at them
The people cleared their throats
And stared right back at Him</p>
  </div>
</div>
</div>
</div>

<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Afternoons & Coffeespoons</b></h4> 
    <p>What is it that makes me just a little bit queasy?
There's a breeze that makes my breathing not so easy
I've had my lungs checked out with x-rays
I've smelled the hospital hallways
Someday I'll have a disappearing hairline
Someday I'll wear pyjamas in the daytime
Times when the day is like a play by Sartre
When it seems a bookburning's in perfect order...
I gave the doctor my description
I've tried to stick to my prescriptions
Someday I'll have a disappearing hairline
Someday I'll wear pyjamas in the daytime
Afternoons will be measured out
Measured out, measured with
Coffeespoons and T.S. Eliot
Maybe if I could do a play-by-playback
I could change the test results that I will get back
I've watched the summer evenings pass by
I've heard the rattle in my bronchi...
Someday I'll have a disappearing hairline
Someday I'll wear pyjamas in the daytime
Afternoons will be measured out
Measured out, measured with
Coffeespoons and T.S. Eliot
Afternoons will be measured out
Measured out, measured with
Coffeespoons and T.S. Eliot</p>
  </div>
</div>
</div>
</div>



<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Mmm mmm mmm mmm</b></h4> 
    <p>Once there was this kid who
Got into an accident and couldn't come to school
But when he finally came back
His hair had turned from black into bright white
He said that it was from when
The cars had smashed so hard
Once there was this girl who
Wouldn't go and change with the girls in the change room
And when they finally made her
They saw birthmarks all over her body
She couldn't quite explain it
They'd always just been there
Mmm mmm mmm mmm
Mmm mmm mmm mmm
Mmm mmm mmm mmm
Mmm mmm mmm mmm
But both girl and boy were glad
'Cause one kid had it worse than that
'Cause then there was this boy whose
Parents made him come directly home right after school
And when they went to their church
They shook and lurched all over the church floor
He couldn't quite explain it
They'd always just gone there
Mmm mmm mmm mmm
Mmm mmm mmm mmm
Mmm mmm mmm mmm
Mmm mmm mmm mmm
Ah
Ah
Ah
Ah</p> </a>
  </div>
</div>
</div>
</div>

<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>In the days of the caveman</b></h4> 
    <p>When you go on camping trips
You're stuck right out in nature
Foraging the forests like a primate
Using sharpened tools instead of hotplates
Your thumb and forefinger
Supposed to show you're not a wild beast
You can hear their noises at night time
They don't have to keep a certain bedtime
See in the shapes of my body
Leftover parts from the apes and monkeys
Sometimes when I lie awake
I hear the rainfall on my tent fly
I think of all the insects that are sleeping
And wonder if the animals are dreaming
See in the shapes of my body
Leftover parts from the apes and monkeys
In the days of the caveman
And mammoths and glaciers
Bugs and trees were your food then
No pajamas or doctors
And when I finally get to sleep
I dream in Technicolor
Well, I see creatures come back from the ice age
Alive and being fed inside a zoo cage
See in the shapes of my body
Leftover parts from the apes and monkeys
In the days of the caveman
And mammoths and glaciers
Bugs and trees were your food then
No pajamas or doctors
In the days of the caveman
And mammoths and glaciers
Bugs and trees were your food then
No pajamas or doctors</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Swimming in your ocean</b></h4> 
    <p>When I'm sampling from your bosom
Sometimes I suffer from distractions like
Why does God cause things like tornadoes and train wrecks?
When I'm swimming in
When I'm swimming in your ocean
Floating aloft on creams
And scented lotions
I can get pretty side-tracked
I hope you'll understand
When I kneel before your bounty
Sometimes I wonder if there could be really
UFOs that come from other planets
And when you let me taste your fingers
I take them like fruit and as I linger I
Wonder if my seed will find purchase in your soil</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Here I stand before me</b></h4> 
    <p>My doctor told me that it was time for me to have my X-ray
Of course, I had many nightmares about that fatal day
The room was dark and my skeleton was floating on the wall
My voice trembles down inside me
I'm trapped way down in my body
I, I, I, oh here I stand before me
But something's out of place here
My mind's eye is missing from my body
Well I know it's there but I can't see where
Well take my fingers, what do fingers really mean to me?
You can easily look them up in the dictionary:
They call them digits, or technically they're known as the "philanges"
My joints connected up inside me
Way down deep inside my body
My bones shine brightly, a map of my whole body
My vital organs just churn away inside me
Some day they're going to stop this motion
And I'll be left with...
My my, the future lay before me
Hey hey, deep inside my body</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>I think I'll disappear now</b></h4> 
    <p>Running into you like this without warning
Is like catching a sniff of tequila in the morning
But I'll try, I'll try to keep my food down
That's quite an after-taste that you've left now that you're not around
You can just pretend we're not in the same room
Well, alright, I'll just mosey to the bathroom
You flew by like a summer vacation
And you left me with TV-movies and a messy kitchen
I think I'll disappear now, slip out sideways
Just for awhile - but until then I'll stay in and sleep late, excuse me
I'll buy a fast car, I'll drive fast from here
There's a beach I haven't seen since last year -
It's far, but I like night drives;
It just makes it nicer when I do arrive
Aren't you going to miss me?
Aren't you going to even say one thing to me anymore?
Well, you can bet that I'll forget how it was then:
All the drives to your farm for the weekend ...
But I've seen the swimsuit magazines
And I've smelled tequila the first thing in the morning</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>How does a duck know</b></h4> 
    <p>How does a duck know what direction south is?
And how to tell his wife from all the other ducks?
You can cut a chicken's head off
And it will keep on running and twitching
When everything seems planned out
When everything seems nicely planned out
Well the human race will come and smack your face
How come all my body parts so nicely fit together?
All my organs doing their jobs, no help from me!
A person pulls a spider's leg out
To watch it keep on moving and twitching
Satan lives here: on grain and earth, rain and air
How come I just smoke and smoke and smoke
And curse every butt I spit out?
All night long I grind my teeth and I wake up when I cough
You can put me in an iron lung
And I will keep on breathing and twitching</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>When I go out with artists</b></h4> 
    <p>When I go out with artists
They talk about language and the Cubists and the Dadaists
And I try to catch their meanings
And keep up with all the martinis
I don't know which should be my favorite paintings
If I could see, if I could see, if I could
See all the symbols, unlock what they mean
Maybe I could, maybe I could, maybe I
Could meet the artists, and get to know them personally
If I were David Byrne
I'd go to galleries and not be too concerned
Well I would have a cup of coffee
And I'd find my surroundings quite amusing and
People would ask me which were my favorite paintings
What if the artists ran the TV?
All the ads would be for fine scotch whiskey:
Glenfiddich, Glenlivet, the whole single malt family
The artists of the future
Will make up new things and different nomenclatures
And they'll stand amongst their pictures
And they'll sing and laugh and quote from scriptures and
When they go home they'll dream of brilliant paintings</p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>The Psychic</b></h4> 
    <p>She knows the future like the palm in your hand
She knows your past like the lay of the land
The first time she met me she saw right through me
Some cards and a cane in her hand, and she said:
All the years that have come to pass
And all the years that shall be
I see here right before me
She said her visions were a bane in her life
She could not control them, they kept her up nights
I know what you're thinking, I haven't been drinking
She knew things that cut like a knife, and she said:
All the years that have come to pass
And all the years that shall be
I see here right before me
Will there be earthquakes and great tidal waves?
Can she see back to the dinosaur days?
How can she foresee just by squinting at me and
Can she see me naked in her mind's eye?
What does she think when she foretells a disease?
Would she keep it a secret if death stood before me?
What could some cards hold, where is her foothold
Can I escape what she sees? And she said:
All the years that have come to pass
And all the years that shall be
I see here right before me
I see here before me</p> </a>
  </div>
</div>
</div>
</div>

   <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Two Knights and Maidens</b></h4> 
    <p>Once there were two knights and maidens
They'd walk together
Out in the gardens
In all kinds of weather
The knights always pestered the maidens
To love them together
Out in the gardens
And they could watch each other
The maidens had other plans for the two knights
They'd give them potions
And make them see dreams and lights
The knights took the potions gladly
They laughed at their visions
But outside the garden
Tigers smelled them together
The maidens had other plans for the two knights
They'd give them potions
And make them see dreams and lights
The knights only laughed at the tigers
They thought they were visions
Out in the garden
The maidens watched them together
Ah, but for the two knights
Ah, but for maidens
Who gave to them dreams and lights</p> </a>
  </div>
</div>
</div>
</div>

   <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Untitled</b></h4> 
    <p>Instrumental</p> </a>
  </div>
</div>
</div>
</div>
