---
title: Kevin. Clelland
layout: album.njk
---
<h1>You're listening with Kevin Clelland...</h1>


<div class="parent">
<div class="box">
<div class="card">
  <a href="/start"><img src="/assets/img/kc/a2.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>Album Comment</b></h4> 
    <p>
    </p>
    <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>All I really want</b></h4> 
    <p></p>
  </div>
</div>
</div>
</div>

<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>You oughta know</b></h4> 
    <p></p>
  </div>
</div>
</div>
</div>



<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Perfect</b></h4> 
    <p></p> </a>
  </div>
</div>
</div>
</div>

<div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Hand in my pocket</b></h4> 
    <p></p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Right through you</b></h4> 
    <p></p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Forgiven</b></h4> 
    <p></p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>You Learn</b></h4> 
    <p></p> </a>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Head over feet</b></h4> 
    <p></p>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Mary Jane</b></h4> 
    <p></p>
  </div>
</div>
</div>
</div>

 <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Ironic</b></h4> 
    <p></p>
  </div>
</div>
</div>
</div>

   <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Not the doctor</b></h4> 
    <p></p> </a>
  </div>
</div>
</div>
</div>

   <div class="parentA">
<div class="boxA">
<div class="cardA">
  <div class="containerA">
    <h4><b>Wake Up</b></h4> 
    <p></p>
  </div>
</div>
</div>
</div>
