---
title: Kevin. Clelland
layout: profile.njk
---
<h1>Welcome!</h1>

<div class="parent">
<div class="boxBig">
<div class="card">
  <a href="/start"><img src="/assets/img/p7.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kevin Clelland</b></h4> 
    <p>Basel Analyst</p>
    <p><b>Bio:</b> Wide music tastes with high tolerance and easily inspired.</p> </a>
  <a href="https://twitter.com/KevinClelland" target="_blank"><i class="fab fa-twitter"></i></a><i class="fab fa-facebook"></i><a href="https://www.instagram.com/kevinclelland/" target="_blank"><i class="fab fa-instagram"></i></a><i class="fab fa-spotify"></i>
  </div>
</div>
</div>
</div>


<div class="parent">
<div class="box">
<div class="card">
  <a href="/kevinclelland/a1"><img src="/assets/img/kc/a1.jpg" alt="Album1" style="width:100%">
  <div class="container">
    <h4><b>God Shuffled His Feet</b></h4> 
    <p>Crash Test Dummies</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a2"><img src="/assets/img/kc/a2.jpg" alt="Album2" style="width:100%">
  <div class="container">
    <h4><b>Jagged Little Pill</b></h4> 
    <p>Alanis Morissette</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/kevinclelland/a3"><img src="/assets/img/kc/a3.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Smash</b></h4> 
    <p>The Offspring</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/kevinclelland/a4"><img src="/assets/img/kc/a4.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>O</b></h4> 
    <p>Damien Rice</p> </a>
  </div>
</div>

</div>


<div class="box">
<div class="card">
  <a href="/kevinclelland/a5"><img src="/assets/img/kc/a5.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>The Places you have come to fear the most</b></h4> 
    <p>Dashboard Confessional</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a6"><img src="/assets/img/kc/a6.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Enema of the State</b></h4> 
    <p>Blink 182</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a7"><img src="/assets/img/kc/a7.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Be Brave</b></h4> 
    <p>Shotgun Tori</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a8"><img src="/assets/img/kc/a8.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Slap in the Face</b></h4> 
    <p>Henry Ate</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a9"><img src="/assets/img/kc/a9.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Foiled</b></h4> 
    <p>Blue October</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a10"><img src="/assets/img/kc/a10.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Hamilton</b></h4> 
    <p>Original Cast Recording</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a11"><img src="/assets/img/kc/a11.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Phantom of the Opera</b></h4> 
    <p>Original Motion Picture Soundtrack</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a12"><img src="/assets/img/kc/a12.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Rent</b></h4> 
    <p>Original Motion Picture Soundtrack</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a13"><img src="/assets/img/kc/a13.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Wicked</b></h4> 
    <p>Original Cast Recording</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a14"><img src="/assets/img/kc/a14.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Les Miserables</b></h4> 
    <p>Original Cast Recording</p> </a>
  </div>
</div>

</div>

<div class="box">
<div class="card">
  <a href="/kevinclelland/a15"><img src="/assets/img/kc/a15.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Born to Run</b></h4> 
    <p>Bruce Springsteen</p> </a>
  </div>
</div>

</div>

</div>
